* {
  margin: 0;
}

body {
  max-width: 800px;
  margin-inline: auto;
  font-family: sans-serif;
  background-color: #171717;
  color: #fff;
  height: 100vh;
  overflow: hidden;
}

header {
  padding-top: 2em;
  margin-bottom: 2em;
}

h1 {
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: bold;
}
